- if controller_path == '/cc'
  %ul
    %li
      %a{:href => "#"} Menu_1
    %li
      %a{:href => "#"} Menu_2
      %ul
        %li
          %a{:href => "#"} Menu_2_1
        %li
          %a{:href => "#"} Menu_2_2       
- else
  %ul
    %li
      %a{:href => "#"} Public_1

