- case opcode
- when "02", "03"
  %select.params{:name => "device"}
    %option{:value => "0"} Select device
    - devices.each do |d|
      %option{:value => d.id}= d.name
- when "05"
  %input.params.sid{:name => "new_sid",:value => "0", :disabled => true}
- when "07"
  %input.params.data{:name => "new_param",:value => "", :disabled => true}
- when "10"
  %input.params.file{:name => "new_version",:value => version}
- else
  "Opcode not defined in partial"